/References
/Thesis_Docs
*.log
*.aux
*.auxlock
*.gnuploterrors
*.gz
Papers/Early_Notes/*
*.bbl
*.bcf
*.blg
*.xml
*.out
*.zip
*.lof
*.lot
*.toc
*.dpth
*.md5
*.dat
*.nb
*.acn
*.acr
*.alg
*.ist
*.bst
*.idx
*.fls
*.fdb*
*.eps
/Break
/Stable
Papers/ArXiv/*
/Thesis/Figures/*.pdf
/Thesis/Figures/*.eps
/Thesis/Figures/*.tex
!/Papers/Early_Notes/Paper.pdf
!/Papers/ArXiv/ms.pdf
!/Papers/ArXiv/ms.tex
Coat*
*.cls
Pages
Diff.py
*.save
*.ilg
*.ind
*/gnuplottex/
/Papers/Journal/*converted*
