/References
*.log
*.aux
*.auxlock
*.gnuploterrors
*.gz
/Paper/gnuplottex
*.bbl
*.bcf
*.blg
*.xml
*.out
*.zip
*.lof
*.lot
*.toc
*.dpth
*.md5
*.dat
*.nb
/Break
/Stable
/Preprint/*
/Thesis/Figures/*.pdf
/Thesis/Figures/*.eps
/Thesis/Figures/*.tex
!/Preprint/ms.pdf
!/Preprint/ms.tex
Coat*
*.cls
